In [1]:
import pandas as pd
import seaborn as sns

In [2]:
df = sns.load_dataset("mpg")
df.shape

(398, 9)

In [3]:
df.head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [6]:
df.sort_values("mpg").head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
28,9.0,8,304.0,193.0,4732,18.5,70,usa,hi 1200d
25,10.0,8,360.0,215.0,4615,14.0,70,usa,ford f250
26,10.0,8,307.0,200.0,4376,15.0,70,usa,chevy c20
103,11.0,8,400.0,150.0,4997,14.0,73,usa,chevrolet impala
124,11.0,8,350.0,180.0,3664,11.0,73,usa,oldsmobile omega

In [7]:
df.sort_values("mpg", ascending=False).head(5)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
322,46.6,4,86.0,65.0,2110,17.9,80,japan,mazda glc
329,44.6,4,91.0,67.0,1850,13.8,80,japan,honda civic 1500 gl
325,44.3,4,90.0,48.0,2085,21.7,80,europe,vw rabbit c (diesel)
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
326,43.4,4,90.0,48.0,2335,23.7,80,europe,vw dasher (diesel)

In [10]:
df.rename(columns = {'model_year':'year'}).head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino

In [11]:
df.drop(columns=['name'])

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa
5,15.0,8,429.0,198.0,4341,10.0,70,usa
6,14.0,8,454.0,220.0,4354,9.0,70,usa
7,14.0,8,440.0,215.0,4312,8.5,70,usa
8,14.0,8,455.0,225.0,4425,10.0,70,usa
9,15.0,8,390.0,190.0,3850,8.5,70,usa
10,15.0,8,383.0,170.0,3563,10.0,70,usa
11,14.0,8,340.0,160.0,3609,8.0,70,usa
12,15.0,8,400.0,150.0,3761,9.5,70,usa
13,14.0,8,455.0,225.0,3086,10.0,70,usa
14,24.0,4,113.0,95.0,2372,15.0,70,japan
15,22.0,6,198.0,95.0,2833,15.5,70,usa
16,18.0,6,199.0,97.0,2774,15.5,70,usa
17,21.0,6,200.0,85.0,2587,16.0,70,usa
18,27.0,4,97.0,88.0,2130,14.5,70,japan
19,26.0,4,97.0,46.0,1835,20.5,70,europe
20,25.0,4,110.0,87.0,2672,17.5,70,europe
21,24.0,4,107.0,90.0,2430,14.5,70,europe
22,25.0,4,104.0,95.0,2375,17.5,70,europe
23,26.0,4,121.0,113.0,2234,12.5,70,europe
24,21.0,6,199.0,90.0,2648,15.0,70,usa
25,10.0,8,360.0,215.0,4615,14.0,70,usa
26,10.0,8,307.0,200.0,4376,15.0,70,usa
27,11.0,8,318.0,210.0,4382,13.5,70,usa
28,9.0,8,304.0,193.0,4732,18.5,70,usa
29,27.0,4,97.0,88.0,2130,14.5,71,japan
...,...,...,...,...,...,...,...,...
368,27.0,4,112.0,88.0,2640,18.6,82,usa
369,34.0,4,112.0,88.0,2395,18.0,82,usa
370,31.0,4,112.0,85.0,2575,16.2,82,usa
371,29.0,4,135.0,84.0,2525,16.0,82,usa
372,27.0,4,151.0,90.0,2735,18.0,82,usa
373,24.0,4,140.0,92.0,2865,16.4,82,usa
374,23.0,4,151.0,NaN,3035,20.5,82,usa
375,36.0,4,105.0,74.0,1980,15.3,82,europe
376,37.0,4,91.0,68.0,2025,18.2,82,japan
377,31.0,4,91.0,68.0,1970,17.6,82,japan
378,38.0,4,105.0,63.0,2125,14.7,82,usa
379,36.0,4,98.0,70.0,2125,17.3,82,usa
380,36.0,4,120.0,88.0,2160,14.5,82,japan
381,36.0,4,107.0,75.0,2205,14.5,82,japan
382,34.0,4,108.0,70.0,2245,16.9,82,japan
383,38.0,4,91.0,67.0,1965,15.0,82,japan
384,32.0,4,91.0,67.0,1965,15.7,82,japan
385,38.0,4,91.0,67.0,1995,16.2,82,japan
386,25.0,6,181.0,110.0,2945,16.4,82,usa
387,38.0,6,262.0,85.0,3015,17.0,82,usa
388,26.0,4,156.0,92.0,2585,14.5,82,usa
389,22.0,6,232.0,112.0,2835,14.7,82,usa
390,32.0,4,144.0,96.0,2665,13.9,82,japan
391,36.0,4,135.0,84.0,2370,13.0,82,usa
392,27.0,4,151.0,90.0,2950,17.3,82,usa
393,27.0,4,140.0,86.0,2790,15.6,82,usa
394,44.0,4,97.0,52.0,2130,24.6,82,europe
395,32.0,4,135.0,84.0,2295,11.6,82,usa
396,28.0,4,120.0,79.0,2625,18.6,82,usa
397,31.0,4,119.0,82.0,2720,19.4,82,usa